{
  "plugins": ["import"],
  "extends": ["eslint:recommended", "react-app"],
  "rules": {
    "no-unused-expressions": "error",
    "no-extra-label": "warn",
    "no-sequences": "error",
    "no-mixed-operators": "warn",
    "new-parens": "error",
    "eqeqeq": "error",
    "no-restricted-globals": ["error", "self"],
    "import/prefer-default-export": 1,
    "class-methods-use-this": 1,
    "no-restricted-syntax": 1,
    "no-use-before-define": 0,
    "no-param-reassign": 1,
    "no-console": 1,
    "no-useless-escape": 1,
    "new-cap": 0,
    "func-names": 0,
    "prefer-spread": 1,
    "space-before-function-paren": 0,
    "comma-dangle": ["error", "always-multiline"],
    "strict": 0,
    "max-len": [1,120],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "react/forbid-prop-types": 1,
    "react/style-prop-object": 1,
    "react/jsx-boolean-value": [1, "always"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/no-multi-comp": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-space-before-closing": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-closing-bracket-location": 1,
    "jsx-a11y/no-static-element-interactions": 1,
    "jsx-a11y/href-no-hash": 0,
    "jsx-quotes": ["error", "prefer-single"],
    "react/jsx-props-no-spreading": 0,
    "react/prop-types": [1, { "skipUndeclared": true }],
    "indent": ["error", 2],
    "semi": ["error", "never"],
    "no-trailing-spaces": ["error", { "ignoreComments": true }]
  },
  "ignorePatterns": [
    "build/",
    "coverage/",
    "cypress/",
    "**/*.chunk.js",
    "**/*.cy.js"
  ]
}
